MONGODB_URI=mongodb+srv://<db_user>:<url_encoded_password>@<cluster>.mongodb.net/<db_name>?retryWrites=true&w=majority&appName=<app_name>
MONGODB_FALLBACK_URI=
MONGODB_CONNECT_RETRIES=2
MONGODB_CONNECT_RETRY_DELAY_MS=1500
MONGODB_SERVER_SELECTION_TIMEOUT_MS=12000
MONGODB_IP_FAMILY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
PORT=5000
